<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Xantar test payment</h3>
  </div>
  <div class="panel-body">
    <%= link_to "Make a payment", payment_path, remote: true, method: :post, class: 'btn btn-primary' %>
    <div class='payments'></div>
  </div>
</div>