@import "twitter/bootstrap/bootstrap";

.input-25{
  width: 25%;
}

.input-30{
  width: 30%;
}

form{
  .form-group{
    .control-label{
      display: block;
    }
    .dt_select{
      display: inline;
      .input-25;
    }

    &.has-error{
      .help-block.error{
        background-color: #A94442;
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        padding: 2px 5px;
      }
    }
  }
}